

<div class="container mt-5">
  <div class="card text-bg-light mb-3" *ngIf="accion != 0">
    <div class="card-header text-center">
	     <h3 class="text-danger">{{title}}</h3>
    </div>
    <div class="card-body">
      
	     <div class="row">
	       <div class="col-12">
	         <form action="">
		         <div class="row">
		           <div class="col-6">
		             <div class="form-group">
		               <label for="">DNI</label>
			             <input [(ngModel)]="personaSeleccionada.dni" name="dni" type="text" class="form-control">
		             </div>
	 	           </div>			
	             <div class="col-6">
		             <label for="">NOMBRES</label>
		             <input [(ngModel)]="personaSeleccionada.nombre" name="nombre" type="text" class="form-control">
	             </div>
		         </div>
	           <div class="row">
		           <div class="col-6">
		             <div class="form-group">
		               <label for="">APELLIDO PATERNO</label>
			             <input [(ngModel)]="personaSeleccionada.apPaterno" name="apPaterno" type="text" class="form-control">
		             </div>
	 	           </div>			
	             <div class="col-6">
		              <label for="">APELLIDO MATERNO</label>
		              <input [(ngModel)]="personaSeleccionada.apMaterno" name="apMaterno" type="text" class="form-control">
	             </div>	
	           </div>
	           <div class="row">
		           <div class="col-6">
		             <div class="form-group">
		               <label for="">FECHA DE NACIMIENTO</label>
			             <input [(ngModel)]="personaSeleccionada.fechaNacimiento" name="fechaNacimiento" type="text" class="form-control">
		             </div>
	 	           </div>			
	             <div class="col-6">
		               <button (click)= "guardar()" class="mt-4 ml-5 mr-5  btn btn-sn btn-primary">
			             <i class="fas fa-search"></i> Guardar
		               </button>
	                 <button (click)= "Cancelar()" class="mt-4 ml-5 mr-5  btn btn-sn btn-danger">
			             <i class="fas fa-ban"></i> Cancelar
		               </button>
	             </div>	
	           </div>
	         </form>
	       </div>
	     </div>

    </div>
  </div>
</div>


<div class="card text-bg-light mb-3">
    <div class="card-header text-center">
	     <h3 class="text-danger">LISTADO DE PERSONAS</h3>
    </div>
    <div class="card-body">
      
	     <div class="row">
	       <div class="col-12">
	         
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Ap. Paterno</th>
							<th>Ap. Materno</th>
							<th>Fecha Nacimiento</th>
							<th>
								<button (click)= "Nuevo()" class="btn btn-sm btn-primary ">
									<i class=" fas fa-plus "></i> Agregar
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let d of personas">
							<td> {{d.id}} </td>
							<td> {{d.dni}} </td>
							<td> {{d.nombre}} </td>
							<td> {{d.apPaterno}} </td>
							<td> {{d.apMaterno}} </td>
							<td> {{d.fechaNacimiento  | date:'dd/MM/yyyy'}} </td>
							<td>
								<button (click)= "Editar(d)" class="mr-5 ml-5 btn btn-sm btn-primary ">
									<i class=" fas fa-edit "></i> Editar
								</button>
								<button (click)= "Eliminar(d.id)" class="mr-5 ml-5 btn btn-sm btn-danger ">
									<i class=" fas fa-trash "></i> Eliminar
								</button>
							</td>
						</tr>
					</tbody>
				</table>


	       </div>
	     </div>

    </div>
  </div>